
///* HIDES *///

.mobile {
  display: none;
  @include respond-max($phoneLarge) {
    display: block;
  }
}

.desktop {
  display: block;
  @include respond-max($phoneLarge) {
    display: none;
  }
}

.tablet {
  display: block;
  @include respond-max(940px) {
    display: none;
  }
}

.tablet-hide {
  display: block;
  @include respond-max($tablet) {
    display: none;
  }
}

.tablet-show {
  display: none;
  @include respond-max($tablet) {
    display: block;
  }
}


.clear {
  clear: both;
}

.show {
  display: block;
}