
///* COLORS *///

$red:       #c33a37;
$redHover:  #911b18;

$black:     #000000;
$darkgrey:  #939596;
$grey:      #bcbec0;
$white:     #FFFFFF;




///* RESPONSIVE SIZING *///

$desktopSmall: 900px;
$tablet: 768px; //1000
$phoneLarge: 601px;
$phone: 500px;
$phoneSmall: 374px;



///* TYPOGRAPHY *///

.font1-regular {
  font-family: 'AmsiProNarw-Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font1-light {
  font-family: 'AmsiProNarw-Light', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font1-semi {
  font-family: 'AmsiProNarw-SemiBold', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font1-black {
  font-family: 'AmsiProNarw-Black', sans-serif;
  font-weight: normal;
  font-style: normal;
}

///* MIXINS *///

@mixin TransFast {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.dg {
  z-index: 100 !important;
}

@mixin TransSlow {
  -webkit-transition: 700ms;
  -moz-transition: 700ms;
  -ms-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms;
}

@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin respond-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.transitionFast {
  @include TransFast;
}

.transitionSlow {
  @include TransSlow;
}