
.button {
  border: 2px solid $gold;
  border-radius: 5px;
  padding: 5px 50px;
  box-shadow: $gold 0 0 12px 1px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 4px;
  @include TransFast;
  &:hover {
    background: rgba(144, 109, 52, 0.5);
  }
  &.glow {
    background: $gold;
  }
}