
.button {
  border: 2px solid $red;
  padding: 5px 50px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  line-height: 40px;
  @extend .font1-semi;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  @include TransFast;
  &:hover {
    background: $red;
    color: $white;
  }
}