
h1 {
  @extend .font1-black;
  font-size: 64px;
  letter-spacing: 3px;
  line-height: 64px;
  color: $red;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;

  @include respond-max(1000px) {
    font-size: 52px;
    line-height: 54px;
  }

  @include respond-max($tablet) {
    font-size: 56px;
    line-height: 58px;
  }

  @include respond-max($phone) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
  }
}

h2 {
  @extend .font1-bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  color: $black;
  text-align: left;
  text-transform: uppercase;

  @include respond-max($phone) {
    font-size: 20px;
    line-height: 26px;
    margin: 10px auto;
    letter-spacing: 1px;
  }

  .red {
    color: $red;
  }
}

p {
  @extend .font1-light;
  position: relative;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
  color: $black;
  text-align: left;

  @include respond-max($desktopSmall) {
    font-size: 16px;
    line-height: 26px;
  }

  @include respond-max($tablet) {
    font-size: 15px;
    line-height: 24px;
  }

  &.no-more {
    @include respond-min($tablet) {
      font-size: 26px;
      margin-top: 200px;
      line-height: 1.25em;
    }
  }

  span {
    @extend .font1-black
  }
  &.small {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    @include respond-max($tablet) {
      font-size: 12px;
    }
  }
}
