#form {

  @include respond-max($phoneLarge) {
    width: 90%;
    margin: 0 auto;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  #formContainer {
    position: relative;
    margin: 0 auto;
  }

  .confirm {
    //margin: 20px auto 0;
    margin-top: 20px;
    @include respond-max($phone) {
      width: 40px;
    }
  }

  .error {
    color: $red;
    font-size: 12px;
    max-width: 500px;
    width: 100%;
    margin: -5px auto 0;
    text-align: left;
    line-height: 12px;

    @include respond-max(550px) {
      width: 90%;
      font-size: 16px;
    }
  }

  label {
    display: none;
  }
  input {
    box-sizing: border-box;
    border: 2px solid $grey;
    background: rgba(255,255,255,.6);
    width: 100%;
    margin: 0 0 10px;
    padding: 5px 10px;
    @extend .font1-semi;
    color: $grey;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
    transition: all 800ms;
    outline: none;



    @include respond-max($tablet) {
      font-size: 25px;
    }

    @include respond-max(550px) {
      width: 100%;
      margin-bottom: 10px;
      font-size: 20px;
    }

    &:focus {
      border-color: $red;
    }
    &.filled {
      color: $darkgrey;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $grey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $grey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $grey;
  }

  .attendance {
    margin-bottom: 10px;

    p {
      @extend .font1-semi;
      color: $grey;
      text-transform: uppercase;
      font-size: 28px;
      margin-bottom: 10px;
    }

    .checkbox {
      position: relative;
      height: 26px;
      margin-bottom: 10px;
      float: left;
      &:first-of-type {
        margin-right: 30px;
      }

      &__input {
        width: 26px;
        height: 26px;
        border: solid 2px $grey;
        margin: 0;
        position: relative;
        background: $white;
        float: left;

        label {
          display: block;
          width: 16px;
          height: 16px;
          cursor: pointer;
          position: absolute;
          left: 5px;
          top: 5px;
          z-index: 1;
          @include transition(.5s);
        }

        input[type=checkbox] {
          height: 16px;
          width: 16px;
          z-index: 2;
          position: relative;
          opacity: 0;
          cursor: pointer;
          left: 5px;
          top: 5px;

          &:checked + label {
            content: image_url('check.svg');
          }
        }
      }

      p {
        @extend .font1-semi;
        color: $grey;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-left: 6px;
        float: left;
        margin-bottom: 0;
      }
    }
  }
}