

#column-layout {

  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 100;

  @include respond-max($tablet) {
    height: auto;
    position: relative;
  }


  .index-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 40px auto;
    max-width: 1000px;

    .info, .rsvp {
      width: calc(50% - 41px);
      float: left;
      @include respond-max($tablet) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
    }

    @include respond-max(1000px) {
      width: 92%;
      height: 650px;
    }

    @include respond-max($tablet) {
      top: 0;
      transform: translateY(0%);
      height: auto;
      margin-top: 0;
    }
  }

}




