

#column-layout {

  width: 100%;
  height: auto;
  padding: 20px 0 40px;
  z-index: 100;

  @include respond-max($tablet) {
    height: auto;
    position: relative;
  }


  .index-wrapper {
    position: relative;
    margin: 40px auto 0;
    max-width: 1000px;

    .info, .rsvp {
      width: calc(50% - 41px);
      float: left;
      @include respond-max($tablet) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
    }

    .info {
      padding-right: 40px;
      border-right: solid 2px $red;

      @include respond-max($tablet) {
        border: none;
        margin-right: 0;
        padding-right: 0;
      }
    }

    .rsvp {
      padding-left: 40px;
      margin-left: -2px;
      border-left: solid 2px $red;

      @include respond-max($tablet) {
        border: none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    @include respond-max(1000px) {
      width: 92%;
    }

    @include respond-max($tablet) {
      top: 0;
      transform: translateY(0%);
      height: auto;
      margin-top: 0;
    }
  }

}




