
html, body {
  background: $white;
  width: 100%;
  height: auto;
}



body {
  background-image: image_url('bg.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  @include respond-max($tablet) {
    height: auto;
  }
}


.index-wrapper {
  width: 92%;
  margin: 50px auto 0;
  max-width: 650px;
}


.info {
  margin-bottom: 35px;
}