
html, body {
  background: black;
  width: 100%;
  height: 100%;
}



body {
  color: $white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-image: image_url('bg.png');
  background-size: cover;
  width: 100%;
  height: 100vh;

}


.bg-image {
  display: none;
  @include respond-max($phoneLarge) {
    display: block;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
    background-image: image_url('bg-image--tablet.jpg');
    background-size: cover;
    background-position: center bottom;
  }

  @include respond-max($phoneSmall) {
    background-image: image_url('bg-image--mobile.jpg');
  }

}