
<div id="form" class="">

  <h2>Reserve <br class="tablet">Your Spot</h2>

  <div id="formContainer">
    <label for="first"></label>
    <input type="text" id="first" placeholder="FIRST NAME" class="" data-num="1">
    <hr class="goldFormUnderline transitionSlow"  data-num="1">
    <p class="error first"></p>
    <br class="desktop">
    <label for="last"></label>
    <input type="text" id="last" placeholder="LAST NAME" class=""  data-num="2">
    <hr class="goldFormUnderline transitionSlow"  data-num="2">
    <p class="error last"></p>
    <br class="desktop">
    <label for="email"></label>
    <input type="text" id="email" placeholder="EMAIL ADDRESS" class=""  data-num="3">
    <hr class="goldFormUnderline transitionSlow"  data-num="3">
    <p class="error email"></p>
    <br class="desktop">
    <label for="company"></label>
    <input type="company" id="company" placeholder="COMPANY" class=""  data-num="4">
    <hr class="goldFormUnderline transitionSlow"  data-num="4">
    <p class="error company"></p>
  </div>

  <div class="button confirm">
    OK
  </div>

</div>

<div id="thankYou" class="hide transitionFast">
  <h2>THANK YOU.</h2>

  <h3>YOU WILL RECEIVE AN RSVP CONFIRMATION IN YOUR EMAIL SHORTLY. <br>
    WE'LL SEE YOU AT SOHO HOUSE.</h3>

</div>
