
<div id="form" class="">



  <div id="formContainer" class="transitionFast">
    <h1>Reserve <br class="tablet">Your Spot.</h1>

    <form>
      <label for="name"></label>
      <input type="text" id="name" placeholder="Name" class="" data-num="1">
      <p class="error name">Required.</p>
      <br class="desktop">


      <label for="phone"></label>
      <input type="text" id="phone" placeholder="Phone Number" class=""  data-num="2">
      <p class="error phone">Required. Must be all numbers.</p>
      <br class="desktop">

      <label for="store"></label>
      <input type="text" id="store" placeholder="Store Location" class=""  data-num="4">
      <p class="error store">Required.</p>
      <br class="desktop">

      <label for="email"></label>
      <input type="text" id="email" placeholder="Email Address" class=""  data-num="3">
      <p class="error email">Required.</p>
      <p class="error already-registered">This email is already registered.</p>
      <br class="desktop">


      <div class="attendance">
        <p>I will be attending:</p>
        <div class="checkbox">
          <div class="checkbox__input"><input type="checkbox" id="conference" value="all" name="conference"  data-num="4"><label></label></div><p class="checkbox__title">Conference</p>
        </div>
        <div class="checkbox">
          <div class="checkbox__input"><input type="checkbox" id="dinner" value="all" name="dinner"  data-num="5"><label></label></div><p class="checkbox__title">Dinner</p>
        </div>
        <div class="clear"></div>
        <p class="error attendance">Please select at least one.</p>
      </div><!-- end attendance -->

      <button class="confirm">RSVP</button>

    </form>
  </div>



</div>

<div id="thankYou" class="hide transitionFast">
  <h1>Thanks for RSVPing!</h1>

  <p>You should receive a confirmation email soon.</p>

</div>
