<div id="info" class="">
	<h1>Hustle. Chill.<br>Chronic-Con.</h1>

	<h2><span class="red">THURSDAY, APRIL 2nd</span> </br>
    9PM-12AM</h2>

	<p class="">Hey Taco Fam. You’ve been working hard, and we know it. That’s why we’re serving up an extra helping of fun at this year’s conference. Sure, we’ll talk shop. But we’ll also chill out, dance a little, and of course, enjoy some well deserved Tequila. Let’s make this legendary.
  </p>

	<br>
	<p>
    113 N. Green Street // Chicago, IL 60607
  </p>
</div>

