<div id="info" class="">
	<h1>Welcome to the Taco Fam Reunion.</h1>

	<h2><span class="red">April 26th + 27th</span> </br>
    Start Time TBD</h2>

	<p class="">Hey Taco Fam. You’ve been working hard, and we know it. That’s why we’re serving up an extra helping of fun at this year’s conference. Sure, we’ll talk shop. But we’ll also chill out, dance a little, and of course, enjoy some well deserved Tequila. Let’s make this legendary.
  </p>

	<br>
	<p>
    <strong>Seven Degrees</strong></br> 891 Laguna Canyon Rd // Laguna Beach, CA 92651
  </p>
</div>

