<div id="info" class="">
	<h1>C21 at<br>Soho House</h1>

	<h2><span class="red">THURSDAY, NOVEMBER 2nd</span> </br>
    9PM-12AM</h2>

	<p class="">It’s about to go down. A big bash at the Soho House. This is your chance to rub elbows with the best of the best at an exclusive party thrown by Century 21 Real Estate. Come hang with your people, the grinders and the go-getters, and have a night to remember.
    <br><br>
    At Century 21 Real Estate, we’re never okay with “okay,” and this party will be no different. Don't miss it.
  </p>

	<br>
	<p>
    113 N. Green Street<br>
    Chicago, IL 60607
  </p>
</div>

