<div id="info" class="">
	<h1>Hustle. Chill.<br>Chronic-Con.</h1>

	<h2><span class="red">THURSDAY, NOVEMBER 2nd</span> </br>
    9PM-12AM</h2>

	<p class="">Nobody ever says "aw bummer, tacos".
    <br><br>
    Join us and our amazing guest speaker Taco Tacopolis for a delicious event you're sure to remember.
    <br><br>
    9:00am - Session One<br>
    1:00pm - Lunch Break<br>
    2:00pm - Session Two<br>
    7:00pm - Long live tacos.

  </p>

	<br>
	<p>
    113 N. Green Street // Chicago, IL 60607
  </p>
</div>

