
<div class="index">

  <%= image_tag 'logo.png', class:'logo' %>

  <div class="index-wrapper">

    <h1>Welcome to the Taco Fam Reunion.</h1>

    <div class="column-wrapper">
      <div class="info column">
        <h2><span class="red">April 26th + 27th</span> </br>
          Start Time @ 8am</h2>

        <p class="">Hey Taco Fam. You’ve been working hard, and we know it. That’s why we’re serving up an extra helping of fun at this year’s conference. Sure, we’ll talk shop. But we’ll also chill out, dance a little, and of course, enjoy some well deserved Tequila. Let’s make this legendary.
        </p>

        <p>
          <strong>Seven Degrees</strong></br> 891 Laguna Canyon Rd // Laguna Beach, CA 92651
        </p>

        <a href="https://www.eventbrite.com/e/taco-fam-reunion-tickets-42907660969"><button class="confirm">Buy Tickets</button></a>

      </div><!-- end info -->

      <div class="timeline column">
        <h2>April 26th</h2>

        <p class="">8am – Registration and Breakfast</br>
          9am to 12pm – Morning Session</br>
          12pm to 1pm – Lunch / Vendor Showcase</br>
          1pm to 3pm – Afternoon Session</br>
          3pm to 4pm – Keynote Speaker</br>
          6:30 to 7:30pm – Cocktail on the veranda at 7 Degrees</br>
          7:30 – Dinner and Awards Ceremony
        </p>
        </br></br>
        <h2>April 27th</h2>

        <p class="">9:30am – Breakfast</br>
          10:15am to 11:45 – RoundTable Discussions</br>
          12pm – Q&A with Executive Team
        </p>

      </div><!-- end timeline -->


      <div class="clear"></div>
    </div><!-- end column-wrapper -->
    <div class="clear"></div>

  </div><!-- end index-wrapper-->

</div>


