
<div class="index" id="column-layout">

  <%= image_tag 'logo.png', class:'logo' %>

  <div class="index-wrapper">

      <div class="a-section-divider tablet-show"></div>
      <div class="info">
        <%= render :partial => 'info' %>
      </div>

      <div class="a-section-divider tablet-show"></div>


      <div class="rsvp">
        <!--<p class="no-more">Aw snap! This event is full! Better luck next year.</p>-->
        <%= render :partial => 'form' %>
      </div>

      <div class="clear"></div>

  </div><!-- end index-wrapper-->

</div>


