.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  margin-top: 0;
  left: calc(50% - 50px);

  @include respond-max($tablet) {
    position: relative;
    top: 0;
    text-align: center;
    margin: 30px auto 0;
  }
}