<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>C21 at Soho House</title>
  <meta name="description" content="Join us for an exclusive party at the Soho House thrown by Century 21 Real Estate where you'll have the chance to rub elbows with the best of the best.">
  <link rel="icon" type="image/png" href="/favicon.png">
  <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/57315ffd-fade-4b1f-8868-d35de1ea3b68.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78900549-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

   gtag('config', 'UA-78900549-2');
  </script>
</body>
</html>
